<header style="background-image: url('{{ site.baseurl }}/img/{{page.hero}}'); background-size: cover; background-position: center; ">
  <div class="hero">

    <a href="{{site.baseurl}}/"><img class="wordmark" src="{{site.baseurl}}/img/wordmark.svg"></a>

    <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="overlay-content">
      <a href="{{site.baseurl}}/">Home</a>
      <a href="{{site.baseurl}}/work">Work</a>
      <a href="{{site.baseurl}}/contact">Contact</a>
    </div>

    </div>
    <span onclick="openNav()" class="hamburger">
      <img src="{{site.baseurl}}/img/hamburg.svg" class="ham-bars">
    </span>
  </div>
</header>
