<header>
  <div class="hero">
    <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="overlay-content">
      <a href="{{site.baseurl}}/index">Home</a>
      <a href="{{site.baseurl}}/work">Work</a>
      <a href="{{site.baseurl}}/contact">Contact</a>
    </div>

    </div>
    <span onclick="openNav()" class="hamburger">
      <img src="img/hamburg.svg" class="ham-bars">
    </span>

    <div class="hero-img">
      <img class="img-flex" src="{{site.baseurl}}/img/fatcap.jpg">
    </div>

    <div class="hero-text">
      <h1>Rob O'Donnell</h1>
    </div>
  </div>
</header>
