{%include head.html%}

{% assign p = site.data.pieces[page.data] %}

<header style="background-image: url('{{site.baseurl}}/img/{{p.heroImg}}'); background-size: cover; background-position: center;">
  <div class="hero">

    <a href="{{site.baseurl}}/"><img class="wordmark" src="{{site.baseurl}}/img/wordmark.svg"></a>

    <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="overlay-content">
      <a href="{{site.baseurl}}/">Home</a>
      <a href="{{site.baseurl}}/work">Portfolio</a>
      <a href="{{site.baseurl}}/contact">Contact</a>
    </div>

    </div>
    <span onclick="openNav()" class="hamburger">
      <img src="{{site.baseurl}}/img/hamburg.svg" class="ham-bars">
    </span>

    <div class="hero-img">
    </div>

    <div class="hero-text">
        <h1>{{p.postHeader}}</h1>
    </div>
  </div>
</header>

<main>

  <div class="about-client">
    <div class="about-title">
      <h2>{{p.postTitle}}</h2>
      <img class="underline" src="{{site.baseurl}}/img/underline.svg">
    </div>

    <div class="about-desc">
      <p>{{p.intro}}</p>
    </div>
  </div>

  <div class="client-photos">
    {% if p.website%}
      <div class="imac-mockup">
        <img class="img-flex imac" src="{{site.baseurl}}/img/imac.png">
        <img class="img-flex iphone" src="{{site.baseurl}}/img/iphone.png">
        <iframe class="site-mockup" src="{{p.website}}" style="border:none;"></iframe>
      </div>
    {% endif %}

    <div class="about-study">
      {% if p.img1 %}
        <img class="img-flex case-study-img" src="{{site.baseurl}}/img/{{p.img1}}">
      {% endif %}
      {% if p.img2 %}
        <img class="img-flex case-study-img" src="{{site.baseurl}}/img/{{p.img2}}">
      {% endif %}
      {% if p.img3 %}
        <img class="img-flex case-study-img" src="{{site.baseurl}}/img/{{p.img3}}">
      {% endif %}
      {% if p.img4 %}
        <img class="img-flex case-study-img" src="{{site.baseurl}}/img/{{p.img4}}">
      {% endif %}
      {% if p.img5 %}
        <img class="img-flex case-study-img" src="{{site.baseurl}}/img/{{p.img5}}">
      {% endif %}
      {% if p.img6 %}
        <img class="img-flex case-study-img" src="{{site.baseurl}}/img/{{p.img6}}">
      {% endif %}
      {% if p.img7 %}
        <img class="img-flex case-study-img" src="{{site.baseurl}}/img/{{p.img7}}">
      {% endif %}
    </div>
  </div>

</main>

  {%include footer.html%}

  <script src="{{site.baseurl}}/js/main.js"></script>


</body>
</html>
