---
title: site.data.pieces[page.data].title
---

{%include head.html%}

{% assign p = site.data.pieces[page.data] %}

<header style="background-image: url('{{site.baseurl}}/img/{{p.piece.heroImg}}'); background-size: cover;">
  <div class="hero">
    <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="overlay-content">
      <a href="{{site.baseurl}}/">Home</a>
      <a href="{{site.baseurl}}/work">Work</a>
      <a href="{{site.baseurl}}/contact">Contact</a>
    </div>

    </div>
    <span onclick="openNav()" class="hamburger">
      <img src="{{site.baseurl}}/img/hamburg.svg" class="ham-bars">
    </span>

    <div class="hero-img">
    </div>

    <div class="hero-text">
      {% if p.piece.postHeader %}
        <h1>{{p.piece.postHeader}}</h1>
      {% endif %}
    </div>
  </div>
</header>

<main>

  <div class="about-client">
    <div class="about-title">
      <h2>{{p.piece.postTitle}}</h2>
      <img class="underline" src="{{site.baseurl}}/img/underline.svg">
    </div>

    <div class="about-desc">
      <p>{{p.piece.intro}}</p>
    </div>
  </div>

  <div class="client-photos">
    {% if p.piece.website%}
      <div class="imac-mockup">
        <img class="img-flex" src="{{site.baseurl}}/img/imac.png">
        <iframe class="site-mockup" src="{{p.piece.website}}" style="border:none;"></iframe>
      </div>
    {% endif %}

    <div class="about-study">
      {% if p.piece.img1 %}
        <img class="img-flex case-study-img" src="{{site.baseurl}}/img/{{p.piece.img1}}">
      {% endif %}
      {% if p.piece.img2 %}
        <img class="img-flex case-study-img" src="{{site.baseurl}}/img/{{p.piece.img2}}">
      {% endif %}
      {% if p.piece.img3 %}
        <img class="img-flex case-study-img" src="{{site.baseurl}}/img/{{p.piece.img3}}">
      {% endif %}
      {% if p.piece.img4 %}
        <img class="img-flex case-study-img" src="{{site.baseurl}}/img/{{p.piece.img4}}">
      {% endif %}
    </div>
  </div>

</main>

  {%include footer.html%}

  <script src="{{site.baseurl}}/js/main.js"></script>


</body>
</html>
